{% extends './base_registration.html' %}

{% block titulo %}
Troque sua Senha
{% endblock %}

{% block titulo_form %}
Troque sua Senha
{% endblock %}

{% block erro %}
<p>e-mail incorreto</p>
{% endblock %}

{% block form %}
<form method="post" action="{% url 'password_reset' %}">
    {% csrf_token %}
    {{ form.non_field_errors }}
    
    <div class="input-box">
        {{ form.email }}
        <box-icon name='envelope' size="sm" color="white"></box-icon>
    </div>

    <button type="submit" class="btn">Enviar link</button>
</form>
<div class="registrar">
  {% if user.is_authenticated %}
  <p>Lembrou da senha?</p>
  <a href="{% url 'galeria' %}">Voltar</a>
  {% else %}
  <p>Lembrou da senha?</p>
  <a href="{% url 'login' %}">Voltar</a>
  {% endif %}
</div>
{% endblock %}