{% extends './base_registration.html' %}

{% block titulo %}
Troque sua Senha
{% endblock %}

{% block titulo_form %}
Troque sua Senha
{% endblock %}

{% block erro %}
<p>As senhas não coincidem</p>
{% endblock%}

{% block form %}
<form method="post" action="" class="w-100">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="input-box">
        {{ form.new_password1 }}
        <box-icon name='lock-alt' size="sm" color="white"></box-icon>
    </div>
    <div class="input-box">
        {{ form.new_password2 }}
        <box-icon name='lock-alt' size="sm" color="white"></box-icon>
    </div>
    
    <button type="submit" class="btn">Redefinir Senha</button>
</form>

<div class="registrar">
    <p>Lembrou sua senha?</p>
    <a href="{% url 'login' %}">Faça login</a>
</div>
{% endblock %}
