{% extends './base_registration.html' %}

{% block titulo %}
E-mail de Redefinição Enviado
{% endblock %}

{% block titulo_form %}
E-mail de Redefinição Enviado
{% endblock %}

{% block form %}
<div class="w-100">
    <p>Um e-mail com instruções para redefinir sua senha foi enviado para o endereço de e-mail fornecido.</p>
    <p>Se você não receber o e-mail, verifique sua caixa de spam ou tente novamente.</p>
</div>
<div class="registrar">
    <p>Voltar à página de login?</p>
    <a href="{% url 'login' %}">Faça login</a>
</div>
{% endblock %}
